@import url(https://fonts.googleapis.com/css?family=Economica:400,700);



@font-face{
 font-family:'digital-clock-font';
 src: url('fonts/digital-7.ttf');
}



body {
  background: #c0392b;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-backface-visibility: hidden;
}

#circle {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  border: 2px solid #fff;
  position: absolute;
  left: -250px;
}
