.achievement-banner { background:#443dca) {
 
  opacity: 0;
  margin: 0 auto;
  font-size: 200%;
  width: 10em;
  color: #efefef;
  border-radius: 10em;
  position: relative;
  padding: .125em;
  min-height: 1.5em;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



@font-face{
 font-family:'digital-clock-font';
 src: url('fonts/Economica-Regular.ttf');
}



.achievement-banner .achievement-icon {
	border-radius: 10em;
	position: relative;
  background: #000;
  border: .125em solid #656766;
	border-top-color: #45ca3d;
  height: 1.25em;
  width: 1.25em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 100;
}
.achievement-banner .achievement-icon .icon {
  display: block;
  border-radius: 10em;
  border: 4px solid #000;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  z-index: 1000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.achievement-banner .achievement-icon .icon .icon-trophy {
  font-size: 75%;
  line-height: 1;
  position: relative;
  top: -.125em;
}
.achievement-banner .achievement-text {
  font-family: "digital-clock-font";
  color: #ffffff;
  position: absolute;
  top: .5em;
  left: 4em;
  font-size: 50%;
  line-height: 1;
  width: 400%;
}
.achievement-banner .achievement-notification {
  margin: 0;
}
.achievement-banner .achievement-name {
  margin: 0;
}

/* Generated content */
.achievement-banner .achievement-icon:before,
.achievement-banner .achievement-icon:after,
.achievement-banner .achievement-icon .icon:before,
.achievement-banner .achievement-icon .icon:after {
	content: "";
	display: block;
	position: absolute;
}

.achievement-banner .achievement-icon:before{
  border-radius: 12em;
  z-index: -100;
  background: transparent;
  border: 4px solid #000;
  top: -.175em;
  left: -.175em;
  right: -.175em;
  bottom: -.175em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Bars */
.achievement-banner .achievement-icon .icon:before,
.achievement-banner .achievement-icon .icon:after {
  width: 150%;
  height: .125em;
  background: #000;
  border-radius: .05em;
  z-index: -10;
  top: 42.5%;
  left: -25%;
}

.achievement-banner .achievement-icon .icon:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Animations */

/* open-close-banner */
@-webkit-keyframes open-close-banner {
  0% {width: 1.5em; opacity: 0;}
  2% {width: 1.5em; opacity: 1;}
  8% {width: 10.3em;}
  80% {width: 10.3em;}
  90% {width: 1.5em; opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  98% {
    width: 1.5em;
    -webkit-transform: rotate(720deg);
  }
  100% {width: 1.5em; opacity: 0;}
}
@-moz-keyframes open-close-banner {
  0% {width: 1.5em; opacity: 0;}
  2% {width: 1.5em; opacity: 1;}
  8% {width: 10.3em;}
  80% {width: 10.3em;}
  90% {
    width: 1.5em; 
    opacity: 1;
    -moz-transform: rotate(0deg);
  }
  98% {
    width: 1.5em;
    -moz-transform: rotate(720deg);
  }
  100% {width: 1.5em; opacity: 0;}
}
@keyframes open-close-banner {
  0% {width: 1.5em; opacity: 0;}
  2% {width: 1.5em; opacity: 1;}
  8% {width: 10.3em;}
  80% {width: 10.3em;}
  90% {
    width: 1.5em; 
    opacity: 1;
    transform: rotate(0deg);
  }
  98% {
    width: 1.5em;
    transform: rotate(720deg);
  }
  100% {width: 1.5em; opacity: 0;}
}

/* border-top-pulse */
@-webkit-keyframes border-top-pulse {
  0% {border-top-color: #656766;}
  40% {border-top-color: #ffffff;}
  80% {border-top-color: #00ff00;}
  100% {border-top-color: #45ca3d;}
}
@-moz-keyframes border-top-pulse {
  0% {border-top-color: #656766;}
  40% {border-top-color: #ffffff;}
  80% {border-top-color: #00ff00;}
  100% {border-top-color: #45ca3d;}
}
@keyframes border-top-pulse {
  0% {border-top-color: #656766;}
  40% {border-top-color: #ffffff;}
  80% {border-top-color: #00ff00;}
  100% {border-top-color: #45ca3d;}
}
@-webkit-keyframes fade-in-text {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fade-in-text {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in-text {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
.achievement-banner {
  -webkit-animation: open-close-banner 5s 1;
  -moz-animation: open-close-banner 5s 1;
  animation: open-close-banner 5s 1;
}

.achievement-banner .achievement-icon {
  /* Make border-top pulse. */
  -webkit-animation: border-top-pulse 1.25s 2;
  -moz-animation: border-top-pulse 1.25s 2;
  animation: border-top-pulse 1.25s 2;
}
/* fade-in-text */
.achievement-banner .achievement-text {
  -webkit-animation: fade-in-text .5s 1;
  -moz-animation: fade-in-text .5s 1;
  animation: fade-in-text .5s 1;
}




.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}


